<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign publications = data[1] | sort: 'date' | reverse %}
  {% for content in publications %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
        <table class="table-cv">
          <tbody>
            {% if content.publisher %}
            <tr>
              <td>
                <a href="{{ content.url }}" class="badge badge-danger danger-color-dark" style="min-width: 75px;">
                  <span style="color: white !important;">{{ content.publisher }}</span>
                </a>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
        <h6 class="title font-weight-bold ml-1 ml-md-4"><a href="{{ content.url }}">{{content.title}}</a></h6>
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{content.authors}}</h6>
        <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic;">{{content.date}}</h6>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>